/* app.component.css */
.chat-dashboard {
    display: flex;
    height: 100vh;
    margin-top: 0%;
  }
  
  .user-list {
    width: 25%;
    background-color: #f0f0f0;
    overflow: auto; 
    height: 100%;
    margin-top: -12px;
    padding-top: 16px;
  }
  
  .user-chat {
    flex: 1;
  }
  