  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="example-spacer"></span>
      <button mat-button color="primary" routerLink="/register"><i class="fa-solid fa-person title"></i>
        <span class="title"> Register</span>
      </button>
      <button mat-button color="primary"><i class="fa-solid fa-arrow-right-to-bracket title"></i>
        <span class="title"> Login</span>
      </button>
    </mat-toolbar>
  </p>