<section style="background-color: #eee;">
  <div class="container">
    <div class="card">
      <div class="card-body" style="background-color: #f5f5f5; border-radius: 8px;">
        <ul class="list-unstyled mb-0">
          <!-- Use *ngFor to generate dynamic user list items -->
          <li class="p-2 border-bottom" style="background-color: #eee;" *ngFor="let user of users; let i = index" (click)="onUserClick(user.id, user.name)">
            <a class="d-flex justify-content-between" style="text-decoration: none; color: inherit;">
              <div class="d-flex flex-row">
                <div class="circle-box" [style.backgroundColor]="userBackgroundColors[i]">
                  {{ user.name.charAt(0) | uppercase }}
                </div>
                <div class="top ps-3">
                  <p class="user-name mb-0">{{ user.name }}</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
